GCS_BUCKET_NAME=pharma-safety-lakehouse
GCP_PROJECT_ID=your-gcp-project-id
BIGQUERY_DATASET_SILVER=pharma_safety_silver
BIGQUERY_DATASET_GOLD=pharma_safety_gold
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/service-account.json
OPENFDA_API_KEY=